* {
  font-family: Roboto;
}

body {
  margin: 0;
}

.header-background,
.intro-background {
  background-color: #1F2937;
  display: flex;
}

.content {
  flex-shrink: 0;
  width: 1000px;
}

.space {
  flex: 1;
  min-width: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 16px 0 100px;
}

.logo {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: 900;
}

.header-right {
  display: flex;
}

.white-text {
  color: #E5E7EB;
  font-size: 18px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

.intro {
  display: flex;
  margin: 16px 0 100px;
  gap: 52px;
}

.intro-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.intro-right {
  flex: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4);
}

.intro-title {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
  flex-wrap: wrap;
}

.intro-subtext {
  margin-bottom: 16px;
}
.sign_up-link {
  background-color: #3882F6;
  color: #F9FAF8;
  padding: 8px;
  border-radius: 8px;
  width: 100px;
  text-align: center;
}

.intro-image {
  width: 300px;
  height: auto;
}

.info-background {
  display: flex;
}

.info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.info-header {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  margin: 48px;
  flex-shrink: 0;
}

.info-container {
  display: flex;
  gap: 60px;
  justify-content: center;
  margin-bottom: 100px;
}

.info {
  display: flex;
  flex-direction: column;
  width: 170px;
  flex-shrink: 0;
}

.info-image {
  height: 170px;
  width: 170px;
  border: 4px solid #3882F6;
  border-radius: 20px;
}

.text {
  font-size: 18px;
  color: #1F2937;
  text-align: center;
}

.quote-background {
  display: flex;
  background-color: #E5E7EB;
}

.quote-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 120px 0 100px 0;
}

.quote {
  font-size: 36px;
  color: #1F2937;
  font-style: italic;
  align-self: center;
  width: 800px;
}

.thor {
  font-size: 24px;
  font-weight: 900;
  width: 800px;
  text-align: end;
  align-self: center;
}

.sign_up-background {
  display: flex;
}

.sign_up-section {
  background-color: #3882F6;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  margin: 100px 0;
  padding: 50px 120px;
  box-sizing: border-box;
}

.sign_up-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.sign_up-big_text {
  font-size: 20px;
  font-weight: 900;
  color:#F9FAF8;
}

.sign_up-sign_up {
  font-size: 16px;
  font-weight: 500;
  color:#E5E7EB;
  background-color: #3882F6;
  border: 3px solid #E5E7EB;
  border-radius: 10px;
  padding: 0 35px;
  height: 35px;
  align-self: flex-end;
}

.footer-background {
  background-color: #1F2937;
  display: flex;
}

.footer {
  color: #E5E7EB;
  text-align: center;
  padding: 40px 0;
}