* {
  font-family: Roboto;
}

body {
  margin: 0;
}

.header-background,
.intro-background {
  background-color: #1F2937;
  display: flex;
}

.content {
  flex-shrink: 0;
}

.space {
  flex: 1;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 1000px;
  margin: 16px 16px 100px;
}

.logo {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: 900;
}

.header-right {
  display: flex;
}

.white-text {
  color: #E5E7EB;
  font-size: 18px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

.intro {
  display: flex;
  width: 1000px;
  margin: 16px 16px 100px;
  gap: 52px;
}

.intro-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: flex-start;
}

.intro-right {
  flex: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4);
}

.intro-title {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
  flex-wrap: wrap;
}

.sign_up-link {
  background-color: #3882F6;
  color: #F9FAF8;
  padding: 8px;
  border-radius: 8px;
  width: 100px;
  text-align: center;
}

.info-background {
  display: flex;
}

.info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 1000px;
}

.info-header {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  margin: 48px;
  flex-shrink: 0;
}

.info-container {
  display: flex;
  gap: 60px;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column;
  width: 170px;
  flex-shrink: 0;
}

.info-image {
  height: 170px;
  width: 170px;
  border: 4px solid #3882F6;
  border-radius: 20px;
}

.text {
  font-size: 18px;
  color: #1F2937;
  text-align: center;
}